/*General*/
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.debug{
  background-color: rgba(0, 0, 255, 0.336);
}

.search{
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 5px 10px;
}

.search:hover{
  border-left: solid #adff2f;
}

.search:hover span{
  color: white;
}

.search svg{
  width: 25px;
}

.search span{
  color: #6f6f6f;
  padding-left: 5px;
  font-size: small;
}

h2{
  color: white;
}

/*Main*/

main{
  font-family: 'Roboto', sans-serif;
}

#general-container{
  width: 100vw;
  height: 85vh;
}

#two-sections-container{
  display: flex;
}

#spotify-menu{
  width: 200px;
  background-color: black;
}

#spotify-content{
  width: calc(100% - 200px);
  border: solid;
}

#upgrade-container{
  width: calc( 100% - 200px);
  height: 90px;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 998;
  border: solid;
  background-color: #080b12f8;
}

#main-content{
  width: 100%;
  height: 85vh;
  border: solid;
  overflow: hidden;
  overflow: auto;
}

#container-music-play{
  position: fixed;
  z-index: 999;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 90px;
  border: solid;
  background-color: #282828;
}

#logo{
  padding: 15px 10px;
}

#logo svg{
  width: 140px;
}

.playlist{
  padding: 20px 10px 0px 10px;
}

.playlist h2{
  font-size: medium;
}

.crate-playlist{
  padding: 10px;
  display: flex;
  align-items: center;
}

.crate-playlist:hover{
  border-left: solid #adff2f;
  cursor: pointer;
}

.crate-playlist:hover span{
  color: white;
}

.crate-playlist:hover svg{
  fill: white;
}

.crate-playlist svg{
  width: 30px;
  fill: #a3a3a3;
}

.crate-playlist span{
  color: #a3a3a3;
  padding-left: 10px;
}

.library{
  padding: 6px 10px;
}

.library span{
  color: #a3a3a3;
  font-size: small;
}

.playlist-library div:hover{
  cursor: pointer;
}

.playlist-library:hover span{
  color: white;
}

#upgrade-container{
  display: flex;
  align-items: center;
  padding: 10px 22px;
  justify-content: flex-end;
}

.upgrade{
  padding: 10px 40px;
  border: 0.5px solid white;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  cursor: pointer;
}

.upgrade:hover a {
  padding: 3px 5px;
}

.upgrade a{
  font-size: x-small;
  text-decoration: none;
  color: white;
}

#music-library{
  background-color: #141922;
}


/*Tutte le dimensioni*/

@media screen and (max-height:350px) {
  #container-music-play{
    height: 50px;
  }

  #upgrade-container{
    height: 50px;
  }
}

@media screen and (max-width:576px){
  #spotify-menu{
    width: 50px;
  }

  #upgrade-container{
    width: calc(100% - 50px);
  }

  #spotify-content{
    width: calc(100% - 50px);
  }
}
